/*  site.css
*   Author: Nathan Bean
*   Modified By: Adela Rahman
*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}

.links > a {
    padding: 20px;
}

p {
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

form {
    width: 300px;
    background-color: lightgray;
    flex-grow: 0;
    padding: 50px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

